body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    

}

    h1     {
        color: blue;
        text-align: center;

}
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #222;
}

ul {
    list-style-type: square;
    color:black ;
    
}

a {
    color: blue;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    color:red;
}
